$mobile: "screen and (max-width: 767px)";
$tablet: "screen and (min-width: 768px)";
$desktop: "screen and (min-width: 1440px)";

@mixin Mobile {
  @media screen and ($mobile) {
    @content;
  }
}

@mixin Tablet($only: null) {
  $query: $tablet;

  @if $only == only-tablet {
    $query: "#{$tablet} and (max-width: 1439px)";
  }

  @media #{$query} {
    @content;
  }
}

@mixin Desktop {
  @media #{$desktop} {
    @content;
  }
}